.mixz-panel-simple {
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
    background-color: #383b42;
    background: linear-gradient(125deg, #3d4148, #30333a);
    box-shadow: 0 0 15px 3px rgba(255,255,255,0.1);
    width: 360px;
    min-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

.mixz-container-simple {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    height: auto;
    width: auto;
    box-sizing: border-box;
    -webkit-user-drag: none;
    white-space: pre;
    margin: auto 0 10px 0 !important;
    overflow: auto;
    align-self: auto !important;
    padding: 20px;

}

.mixz-field-text {
    margin-top: 0em;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    font-family: system-ui;
    font-variant-caps: normal;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;

    padding-top: 1px;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-appearance: textfield;

    background-color: transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #646a77 !important;
    box-shadow: none !important;
    color: #fff !important;
    font-size: 15px !important;
    color: #f4f4f4 !important;
    height: 30px !important;
    padding: 0 !important;
    transition: all .1s ease-out;

    min-width: 40px;
    font: normal 12px/18px tahoma, arial, verdana, sans-serif;
    padding: 2px 3px;
    background-color: #fff;
    border: 1px solid #b5b8c8;
    border-radius: 2px;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(30,30,30,.1);
    box-sizing: border-box;
    height: 24px;
    width: 100%;

    flex: 0 0 auto;
    cursor: auto;
}

.mixz-field-label {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 100px;
    font: normal 12px/14px Tahoma, Ubuntu, sans-serif;
    padding: 5px 5px 5px 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 15px;
    color: #9ea3af;
    width: 100%;
    padding: 5px 0;
    flex-direction: row;
    margin: auto 0 10px 0 !important;
}

.mixz-auth-head {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #e4e4e4;
    font-size: 16px;
    font-weight: 700;
}

.mixz-container {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-user-drag: none;
    overflow: visible;
    white-space: pre;
    overflow: auto;
    align-self: auto !important;
}

.mixz-panel-auth {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-self: stretch;
    min-width: 50px;
    min-height: 50px;
    box-sizing: border-box;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
    background-color: #383b42;
    background: linear-gradient(125deg, #3d4148, #30333a);
    box-shadow: 0 0 15px 3px rgba(255,255,255,0.1);
    width: 500px;
    height: 600px;
    overflow: hidden;
}

.logo {
    -webkit-align-items: center;
    align-items: center;
    color: inherit;
    display: -webkit-flex;
    display: flex;
    height: 3.75rem;
    min-height: 3.75rem;
    padding: 0 12px 0 0;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.mixz-left-panel {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: auto;
    height: 100%;
    background: #8e87e2;
}

.mixz-panel-text {
    font-family: "Open Sauce One",sans-serif;
    font-size: 1rem;
    font-weight: 700;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.lobby-list-item {
    padding-left: 10px;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    position: relative;
}

.lobby-heading-btn {
    float: right;
    margin-left:  auto;
    margin-right: 10px;
    max-width: 150px;
}

.lobby-heading {
    display: flex;
    padding: 20px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}

.lobby-heading-name {
    color: #961296;
    font-size: 36px;
}

.lobby-users {
    float: right;
}

.lobby-main {
    display: flex;
    height: 100%;
    width: 80%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.12);
}

h1 {
    padding: 10px;
    color: #961296;
}